.listItem {
  width: 95%;
  /* height: 5%; */
  margin: 0 0 8px 0;
  /* padding: 30px 0; */
  background-color: blanchedalmond;
  color: aliceblue;
  justify-content: space-evenly;
}

.listItem:hover,
.listItem:active {
  transform: none;
}
.listItem.red {
  background-color: rgb(241, 59, 35);
}

.listItem.green {
  background-color: rgb(66, 158, 13);
}

.listItem.yellow {
  background-color: rgb(228, 146, 38);
}
.listItem.gray {
  background-color: gray;
}
form {
  margin: auto;
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* visibility: hidden; */
  transform: translateY(-50px);
  transition: all 0.15s linear;
  z-index: -1.5;
}
.show + form {
  visibility: visible;
  transform: translateY(0);
  transition: all 0.15s linear;
}
form textarea {
  width: 90%;
}
form input[type='submit'] {
  width: 90%;
  margin: 0 0 10px 0;
  /* border-radius: 0; */
}
.title {
  width: 80%;
  color: #fff;
  background-color: transparent;
  margin-left: 0.5rem;
  padding: 30px 0;
}

.manageItem {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 35%;
  padding: 30px 0;
  margin: 0;
  background-color: transparent;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.expend {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  transition: all 0.1s linear;
  z-index: 1;
}
.expend:hover {
  transform: translateY(5px);
}
.expend:active .icon {
  transform: translateY(8px);
}
.expend .icon {
  background-image: url('../../icons/down-arrow.png');
  transition: all 0.1s linear;
  z-index: 0;
}

.shrink {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  transition: all 0.1s linear;
  z-index: 1;
}

.shrink:hover {
  transform: translateY(-5px);
}

.shrink:active .icon {
  transform: translateY(-8px);
}

.shrink .icon {
  background-image: url('../../icons/up-arrows.png');
  transition: all 0.1s linear;
  z-index: 0;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  height: 100%;
  width: 100%;
  background-color: transparent;
}
.done {
  height: 50%;
  width: 100%;
  position: relative;
  background-color: transparent;
  outline: none;
  border: none;
  transition: all 0.1s linear;
}
.delete {
  height: 50%;
  width: 100%;
  position: relative;
  background-color: transparent;
  outline: none;
  border: none;
  transition: all 0.1s linear;
  z-index: 1;
}

.delete .icon {
  background-image: url(../../icons/delete.png);
  background-color: red;
  z-index: 0;
}

.delete:hover .icon {
  transform: scale(1.02);
  background-color: rgb(235, 60, 60);
  transition: all 0.1s linear;
}

.delete:active .icon {
  transform: scale(0.99);
  transition: all 0.1s linear;
}
.done .icon {
  background-image: url(../../icons/done.png);
  background-color: rgb(30, 255, 0);
}
.done:hover .icon {
  transform: scale(1.02);
  background-color: rgb(29, 199, 29);
  transition: all 0.1s linear;
}
.done:active .icon {
  transform: scale(0.99);
  transition: all 0.1s linear;
}
