.listItem {
  width: 95%;
  height: 5%;
  margin: 0 0 2px 0;
  padding: 5px;
  background-color: blanchedalmond;
  color: aliceblue;
}
.listItem.red{

    background-color: rgb(241, 59, 35);
}

.listItem.green {
    background-color: rgb(66, 158, 13);
}

.listItem.yellow {

    background-color: rgb(238, 147, 11);
}