.listItem {
  width: 95%;
  /* height: 5%; */
  margin: 0 0 8px 0;
  /* padding: 30px 0; */
  background-color: blanchedalmond;
  color: aliceblue;
  justify-content: space-evenly;
}

.listItem:hover,
.listItem:active {
  transform: none;
}
.listItem.red {
  background-color: rgb(241, 59, 35);
}

.listItem.green {
  background-color: rgb(66, 158, 13);
}

.listItem.yellow {
  background-color: rgb(228, 146, 38);
}
.listItem.gray {
  background-color: gray;
}

.title {
  width: 80%;
  color: #fff;
  background-color: transparent;
  margin-left: 0.5rem;
  padding: 30px 0;
}

.manageItem {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 35%;
  padding: 30px 0;
  margin: 0;
  background-color: transparent;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.expend {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  transition: all 0.1s linear;
}
.expend:hover {
  transform: translateY(5px);
}
.expend .icon {
  background-image: url('../../icons/down-arrow.png');
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  height: 100%;
  width: 100%;
  background-color: gray;
}
.done {
  height: 50%;
  width: 100%;
  position: relative;
  background-color: transparent;
  outline: none;
  border: none;
  transition: all 0.1s linear;
}
.delete {
  height: 50%;
  width: 100%;
  position: relative;
  background-color: transparent;
  outline: none;
  border: none;
  transition: all 0.1s linear;
}

.delete .icon {
    background-image: url(../../icons/delete.png);
}

.done .icon {
    background-image: url(../../icons/done.png);
}