main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  display: flex;
  width: 90%;
  height: 80%;
  padding: 50px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(163, 173, 201);
  border-radius: 150px 5px 150px 5px;
}
